<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>939893979140-pl49ha7lso5mgim5mbmin1nb4e32op5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.939893979140-pl49ha7lso5mgim5mbmin1nb4e32op5t</string>
	<key>API_KEY</key>
	<string>AIzaSyBSPqWi-SVFEcneC7_g0AcdSKYEwtSmrg4</string>
	<key>GCM_SENDER_ID</key>
	<string>939893979140</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.stywin.xemboi</string>
	<key>PROJECT_ID</key>
	<string>xemboi-d8b0d</string>
	<key>STORAGE_BUCKET</key>
	<string>xemboi-d8b0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:939893979140:ios:0de4c11026cb5127</string>
	<key>DATABASE_URL</key>
	<string>https://xemboi-d8b0d.firebaseio.com</string>
</dict>
</plist>